@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Lexend+Deca&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,500&family=Roboto:ital,wght@0,100;0,500;1,400;1,500;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');

:root
{
  --Bright: rgb(227, 136, 38);
  --Dark:  rgb(0, 105, 112);
  --Very-dark:  hsl(179, 100%, 13%);
  --Transparent-white-paragraphs:  rgba(255, 255, 255, 0.75);
  --Very-light-gray: rgb(242, 242, 242); 
  ---Font-size: 15px;
  --font-1: 'Big Shoulders Display', cursive;
  --font-2: 'Lexend Deca'
}

*{
    margin: 0;     
}

.main
{
  padding: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-container
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    margin: 1em;
}
    
.card
{
    padding: 2em; 
}

.icon{
  width: 48px;
  height: 30px;
  background-position: center;
  background-size: cover; 
}

.icon-sedan
{   
  background-image: url(./images/icon-sedans.svg); 
}

.icon-suvs{
    background-image: url(./images/icon-suvs.svg); 
}

.icon-luxury
{
    background-image: url(./images/icon-luxury.svg); 
}

.title-card
{
    font-family: var(--font-1);
    font-size: 35px;
    text-transform: uppercase;
    color: var(--Very-light-gray);
    margin-top: 0.7em;
}

.text-paragraph
{   
  font-family: var(--font-2);
  font-size: var(---Font-size);
  color: var(--Transparent-white-paragraphs);
  text-align: initial;
  margin-top: 1.8em;
}

.card-sedans
{
   border-radius: 5px 5px 0 0 ;
   background-color: var(--Bright);
}

.card-suvs
{
   background-color: var(--Dark);
}

.card-luxury
{
    background-color: var(--Very-dark);
    border-radius: 0 0 5px 5px;
}

.btn
{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    margin-top: 3em;
    font-family: var(--font-2);
    color: var(--Bright);
    border: 0;
}

.btn:hover{
  color: white;
  border: 2px solid var(--Very-light-gray);
}

.sedan-btn:hover{
  background-color: var(--Bright);
}

.suvs-btn:hover{
  background-color: var(--Dark);
}

.luxury-btn:hover{
  background-color: var(--Very-dark);
}

.suvs-btn
{
    color: var(--Dark);
}


.luxury-btn
{
    color: var(--Very-dark);
}

@media(min-width: 600px){
  
  .section-container{
  
    flex-direction: row;
    margin: 1em;

  }

  .card-sedans{
   border-radius: 10px 0 0 10px;
  }

  .card-luxury{
    background-color: var(--Very-dark);
    border-radius: 0 10px 10px 0;
  }

}

